{% extends "admin.html.twig" %}

{% block section %}
	<section class="main sortable" data-object-class="article">
		{% for article in articles %}
			<article id="{{article.id}}" data-id="{{article.id}}">
				<div class="meta">
					<label><a>Sélectionner<input type="checkbox" name="selected_articles[]" value="{{article.id}}"></a></label>
					<form action="{{ path_for('api_post') }}" method="POST">
						<input type="hidden" name="id" value="{{article.id}}">
						<input type="hidden" name="objectClass" value="article">
						<input type="hidden" name="redirect" value="{{current_path()}}">
						<input type="hidden" name="status" value="archived">
						<button class="btn"><i class="fa fa-trash"></i> Archiver</button>
					</form>
				</div>
				<div class="content">
					<div class="wrapper texte active">
						<h3><a target="_blank" href="{{article.url}}">{{article.title}}</a></h3>
						<p>sélectionné le {{ article.created_at|date("d/m/Y \\à H:i") }}</p>
						<p>
							{{article.content}}
						</p>
					</div>
				</div>
			</article>
		{% endfor %}

	{# 		<article>
				<div class="wrapper linkTitle active">
					<a href="#" onclick="MicroModal.show('modal-section-new'); return false;"><h3><i class="fa fa-plus"></i> Nouvelle section</h3></a>
				</div>
			</article> #}

			<article>
				<div class="wrapper">
				</div>
			</article>
			<article>
				<div class="wrapper">
				</div>
			</article>
		</section>
	{% endblock %}
