{% extends "admin.html.twig" %}

{% block section %}
	<section class="main sortable" data-object-class="section">
		{% if pageActive %}

			<article>
				<div class="wrapper linkTitle active">
					<a href="{{ path_for('admin_page_specific', {'page': 'newspapers', 'section': 'new'}) }}"><h3><i class="fa fa-plus"></i> Nouvelle revue de presse</h3></a>
				</div>
			</article>
			<article>
				<div class="wrapper linkTitle active">
					<a href="{{ path_for('admin_page_specific', {'page': 'newspapers', 'section': 'archived'}) }}"><h3><i class="fa fa-trash"></i> Articles archivés</h3></a>
				</div>
			</article>

			{% if pageActive.sections|length < 2 %}
				<article>
					<div class="wrapper">
					</div>
				</article>
				<article>
					<div class="wrapper">
					</div>
				</article>
			{% endif %}
		{% endif %}
	</section>
{% endblock %}
