{% extends "admin.html.twig" %}

{% block section %}
	<section class="main sortable" data-object-class="article">
		{% for article in articles %}
			<article id="{{article.id}}" data-id="{{article.id}}">
				<div class="meta">
					<form action="{{ path_for('api_post') }}" method="POST">
						<input type="hidden" name="id" value="{{article.id}}">
						<input type="hidden" name="objectClass" value="article">
						<input type="hidden" name="redirect" value="{{current_path()}}">
						<input type="hidden" name="status" value="to_be_selected">
						<button class="btn"><i class="fa fa-plus"></i> Désarchiver</button>
					</form>
				</div>
				<div class="content">
					<div class="wrapper texte active">
						<h3><a target="_blank" href="{{article.url}}">{{article.title}}</a></h3>
						<p>sélectionné le {{ article.created_at|date("d/m/Y \\à H:i") }}</p>
						<p>
							{{article.content}}
						</p>
					</div>
				</div>
			</article>
		{% endfor %}
			<article>
				<div class="wrapper">
				</div>
			</article>
			<article>
				<div class="wrapper">
				</div>
			</article>
		</section>
	{% endblock %}
