{% extends "admin.html.twig" %}

{% block section %}
	<section class="main sortable" data-object-class="section">
		{% if pageActive %}
			{% for section in pageActive.sections %}
				<article id="{{section.slug}}" data-id="{{section.id}}">
					<div class="meta">
						<a href="#" onclick="MicroModal.show('modal-section-{{section.id}}'); return false;"><i class="fa fa-edit"></i> Modifier section</a>
						<a href="{{ path_for('admin_section', {'section': section.id}) }}"><i class="fa fa-square"></i> Modifier blocs</a>
					</div>
					{% if section.blocks|length %}
						<div class="content">
							{% for index, bloc in section.blocks %}
								<div class="wrapper {{bloc.type}}{% if(index == 0) %} active{% endif %}">
									{% if bloc.type == 'image' %}
										<img src="{{bloc.image}}"/>
									{% elseif bloc.type == 'title' %}
										<h3>{{bloc.title}}</h3>
									{% elseif bloc.type == 'linkTitle' %}
										<a target="{% if bloc.external > 0 %}_blank{% else %}_self{% endif %}" href="{{bloc.link}}"><h3>{{bloc.link_title}}</h3></a>
									{% elseif bloc.type == 'texte' %}
										{{bloc.content|raw}}
									{% endif %}
								</div>
							{% endfor %}
						</div>
					{% else %}
						<div class="content">
							<h3>{{section.name}}</h3>
						</div>
					{% endif %}

				</article>
			{% endfor %}

			<article>
				<div class="wrapper linkTitle active">
					<a href="#" onclick="MicroModal.show('modal-section-new'); return false;"><h3><i class="fa fa-plus"></i> Nouvelle section</h3></a>
				</div>
			</article>

			{% if pageActive.sections|length < 2 %}
				<article>
					<div class="wrapper">
					</div>
				</article>
				<article>
					<div class="wrapper">
					</div>
				</article>
			{% endif %}
		{% endif %}
	</section>
{% endblock %}
