<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charse"utf-8">
		<meta http-equiv="x-ua-compatible" conten"ie=edge">
		<title>{% block title %}Minimal admin / CMS - {% endblock %}Administration</title>
		<meta name="description" conten"">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

		<!-- <link rel="manifest" href="site.webmanifest"> -->
		<!-- <link rel="apple-touch-icon" href="icon.png"> -->
		<!-- Place favicon.ico in the root directory -->

		<!-- <link rel="stylesheet" href="css/normalize.css"> -->
		{% block styles %}
		{% endblock %}
		<link rel="stylesheet" href="{{ path_for('home') }}vendor/needim/noty/lib/noty.css" >
		<link rel="stylesheet" href="{{ path_for('home') }}assets/css/fonts.css">
		<link rel="stylesheet" href="{{ path_for('home') }}assets/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:300,700" rel="stylesheet" />
	</head>
	<body>
		<!--[if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- Add your site or application content here -->
		<div class="wrapper">

		{% block body %}
		{% endblock %}

		</div>
		<script src="{{ path_for('home') }}vendor/needim/noty/lib/noty.min.js"></script>
		<!-- <script src="js/vendor/modernizr-3.5.0.min.js"></script> -->
		<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>-->


		{% block scripts %}
		{% endblock %}

					<script>
		{% if messages %}
			{% for messageType,messagesOfType in messages %}
				{% for message in messagesOfType %}
							new Noty({
							    type: '{{messageType}}',
							    text: '{{message}}',
							    theme: 'mint'
							}).show();
		        {% endfor %}
	        {% endfor %}
		{% endif %}
					</script>

<!--         <script src="js/plugins.js"></script>
		<script src="js/main.js"></script> -->

		<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
   <!--      <script>
			window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
			ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
		</script>
		<script src="https://www.google-analytics.com/analytics.js" async defer></script> -->
	</body>
</html>

