<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}Un blog dans la marre{% endblock %}</title>
    <meta name="description" content="C'est un blog qui parle de trucs">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
    {% block styles %}
    {% endblock %}
    <style type="text/css" media="screen"></style>
</head>
<body>
    <a href="{{ path_for('home') }}"><h1>Un blog dans la marre</h1></a>
    <p>C'est un blog qui parle de trucs</p>
    <hr>
        {% block body %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
</body>
</html>
